.login-container{
    height: 100vh;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}
.login-form {
    background-color: transparent;
    display: table;
    padding-top: 50px;
}